html {
  margin: 0px auto;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #333;
  max-width: 960px;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 30px;
  margin-bottom: 30px;
  font-weight: 500;
  line-height: 1.2;
  color: #000;
  font-size: 2em;
}

h1 {
  font-size: 2em;
  margin-bottom: 0px;
}

h3{
  font-size: 1.5em;
}

a {
  color: inherit;
}

iframe{
  margin-top: 10px;
}


code {
  font-family: menlo, inconsolata, monospace;
  font-size: calc(1em - 2px);
  color: #000;
}

@media (min-width: 400px) {
  body {
    font-size: 16px;
  }
}

@media (min-width: 970px) {
  body {
    margin: 0px;
  }
}


#people a{
  text-decoration: none;
  padding-right: 3px;
}
#people a:hover{
  text-decoration: underline;
  padding-right: 3px;
}

.username{
  margin-bottom: 20px;
  font-size: 18px;
}



a.block-thumb{
  display: inline-block;
  width: 220px;
  height: 120px;
  margin: 5px;
  margin-bottom: 3px;
  margin-left: 0px;
  text-decoration: none;
  outline: 1px solid #ccc;
  vertical-align: bottom;
}

a.block-thumb:hover{
  text-decoration: underline;
}

.block-thumb p{
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
  position: relative;
  top: -10px;
  left: 5px;
}




iframe{
  outline: 1px solid #ccc;
  border: 0px;
}



#readme{
  max-width: 700px;
}


.hljs{
  border-left: 1px solid #ccc;
  padding-left: 1em;
  padding-top: 0px;
  padding-bottom: 0px;
}
